.wrapperRating {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 30px;
  font-family: tahoma;
}
.wrapperGrade{
    display: flex;
    justify-content: center;
    font-size: 10px;
    line-height: 10px;
}
