.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rating {
  font-size: 30px;
  line-height: 30px;
  font-family: $font-alt;
}
.grade {
  font-size: 10px;
  line-height: 10px;
}
