.informationSection {
  display: flex;
  flex-direction: column;

  background-color: white;
  max-width: 1200px;

  margin-left: 105px;
  margin-right: 105px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
