.imagesBackground {
  background-image: url(./Background/BackgroundForTheSite.png);
  min-width: 100vw;
  min-height: 100vh;
}

.contentWidget {
  display: flex;
}
.userComments {
  display: flex;
  max-width: 500px;
}

.wrapperPictureContent {
  width: 26%;
  margin-right: 37.75px;
}
