.status {
  padding: 1px 6px;
  font-family: $font-alt;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}
.announcement {
  background: #ca4929;
}
.ongoing {
  background: #1d78b7;
}
.release {
  background: #419541;
}
