.friends {
  margin: -13px 0 15px 0;
}

.friend {
  display: flex;
  justify-content: space-between;
}

.status {
  font-family:
    Helvetica Neue,
    Arial,
    Verdana,
    sans-serif;
  font-size: 11px;
  align-content: center;
}
