.friends {
  //align-items: center;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  font-size: 10px;
  line-height: 10px;
  font-family:
    Helvetica Neue,
    Arial,
    Verdana,
    sans-serif;
}
