.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.header {
  display: flex;
  gap: 10px;
  align-content: center;
  padding-right: 10px;

  h4 {
    white-space: nowrap;
    text-transform: uppercase;
    font-family: $font-alt;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;

    margin: 0;
    padding: 0;
  }
}

.darkHeader {
  border: solid 1px white;
}

.lightHeader {
  background-color: #e8ebef;
  color: #123;
}

.grayLabel {
  width: 5px;
  height: 100%;
  min-height: 30px;
}

.lightGrayLabel {
  background-color: #d8dde4;
}

.darkGrayLabel {
  background-color: white;
}
